[Unit]
Description=Go FDO owner server
After=network.target

[Service]
Type=simple
PrivateDevices=yes
CacheDirectory=go-fdo-server-owner
StateDirectory=go-fdo-server-owner
ExecStartPre=/usr/share/go-fdo-server/generate-owner-certs.sh
ExecStart=/usr/bin/go-fdo-server --db-type ${DATABASE_TYPE} --db-dsn ${DATABASE_DSN} owner ${LISTEN_IP}:${LISTEN_PORT} \
                                 --owner-key ${OWNER_KEY} --device-ca-cert ${DEVICE_CA_CRT}
User=go-fdo-server-owner

EnvironmentFile=-/etc/sysconfig/go-fdo-server-owner

[Install]
WantedBy=multi-user.target
